In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Bibliotecas utilizadas

In [49]:
df = pd.read_json("03092020_2kcomments.json")

In [13]:
df

'Satisfação, não deixam nada a desejar...'

In [50]:
#Criar nova coluna contendo instâncias separadas em um array e sem pontuação
retiraPontos = lambda x: x.replace(",","").replace(".","").replace(")","").replace("(","").split()
df["array"]=df.applymap(retiraPontos)
df.head()

#criar um dataframe com todas as palavras, vou usar o intertools
import itertools

listOfWord = list(itertools.chain.from_iterable(list(df["array"].values)))

#criar dataframe com todas as palavras

In [77]:
wordsDF = pd.DataFrame(listOfWord)
wordsDF.head()
pd.DataFrame(wordsDF[0].value_counts())

             0
de        2061
e         1717
que       1652
a         1444
o         1300
...        ...
tentemos     1
1304         1
ocupados     1
SABEM        1
3º           1

[6905 rows x 1 columns]